**/*.csv
**/*.parquet
**/*.db
**/__pycache__/
mlruns/
**/artifacts/
**/*.onnx
**/*.pbtxt
venv/

# Ignore benchmark results and models
benchmarks/triton_analysis/results/*
benchmarks/triton_analysis/models/*
benchmarks/triton_analysis/checkpoints/*

# Ignore files only for convenience during development
reset_helm.sh