apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: mc
          image: minio/mc:latest
          command: ["/bin/sh","-c"]
          args:
            - >
              mc alias set local http://minio:9000 minioadmin minioadmin123 &&
              mc mb -p local/mlflow || true &&
              mc mb -p local/ml-data || true &&
              mc mb -p local/models || true &&
              mc mb -p local/ml-data/raw || true &&
              mc mb -p local/ml-data/processed || true &&
              echo "minio-init done"
