# -- helm/templates/jobs/data-uploader-job.yaml

{{- if eq .Values.dataUpload.enabled true }}
apiVersion: batch/v1
kind: Job
metadata:
  name: data-uploader-job
  namespace: {{ .Values.global.namespace }}
  annotations:
    "helm.sh/hook": post-install # 설치 후에 실행되는 훅
    "helm.sh/hook-weight": "1" # 실행 순서 지정 (낮을수록 먼저 실행)
    "helm.sh/hook-delete-policy": before-hook-creation # 재설치 시 이전 훅 삭제
spec:
  template:
    spec:
      restartPolicy: OnFailure
      # MinIO 준비 대기 및 버킷 생성
      initContainers:
      - name: wait-for-minio
        image: {{ .Values.images.minioMc | quote }}
        command:
        - /bin/sh
        - -c
        - |
          echo "Connecting to MinIO..."
          # MinIO 접속 시도 (성공할 때까지 반복)
          until mc alias set myminio $AWS_ENDPOINT_URL $AWS_ACCESS_KEY_ID $AWS_SECRET_ACCESS_KEY; do
            echo "Waiting for MinIO..."
            sleep 2
          done
          
          echo "Creating buckets..."
          {{- range .Values.dataUpload.buckets }}
          mc mb myminio/{{ . }} --ignore-existing
          {{- end }}
          echo "MinIO ready and buckets created."
        env:
        # 공통 MinIO 환경 변수 주입
        {{- include "common.env.minio" . | nindent 8 }}

      containers:
      - name: uploader
        image: {{ .Values.images.minioMc | quote }}
        command: ["/bin/sh", "/scripts/upload.sh"]
        volumeMounts:
        - name: script-vol
          mountPath: /scripts
        - name: data-vol
          mountPath: /data
      volumes:
      - name: script-vol
        configMap:
          name: data-uploader-script
      - name: data-vol
        hostPath:
          path: {{ .Values.dataUpload.hostPath | quote }} # csv 파일이 위치한 호스트 경로
          type: Directory
{{- end }}
