# -- helm/templates/jobs/data-uploader.yaml

{{- if eq .Values.dataUpload.enabled true }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-data-uploader
  annotations:
    "helm.sh/hook": post-install # 설치 후에 실행되는 훅
    "helm.sh/hook-weight": "1" # 실행 순서 지실정 (낮을수록 먼저 실행)
    "helm.sh/hook-delete-policy": before-hook-creation # 재설치 시 이전 훅 삭제
spec:
  template:
    spec:
      restartPolicy: OnFailure
      # MinIO 준비 대기 및 버킷 생성
      initContainers:
      - name: wait-for-minio-and-create-buckets
        image: {{ .Values.images.minioMc | quote }}
        command:
        - /bin/sh
        - -c
        - |
          echo "Waiting for MinIO..."
          until mc alias set myminio http://minio:{{ .Values.infrastructure.minio.apiPort }} {{ .Values.infrastructure.minio.rootUser }} {{ .Values.infrastructure.minio.rootPassword }}; do
            sleep 2
          done
          
          echo "Creating buckets..."
          {{- range .Values.dataUpload.buckets }}
          mc mb myminio/{{ . }} --ignore-existing
          {{- end }}
          echo "MinIO ready and buckets created."

      containers:
      - name: uploader
        image: {{ .Values.images.minioMc | quote }}
        command: ["/bin/sh", "/scripts/upload.sh"]
        volumeMounts:
        - name: script-vol
          mountPath: /scripts
        - name: data-vol
          mountPath: /data
      volumes:
      - name: script-vol
        configMap:
          name: {{ .Release.Name }}-upload-script
      - name: data-vol
        hostPath:
          path: {{ .Values.dataUpload.hostPath | quote }} # csv 파일이 위치한 호스트 경로
          type: Directory
{{- end }}
