# -- helm/templates/jobs/training-job.yaml

apiVersion: batch/v1
kind: Job
metadata:
  name: training-job
  namespace: {{ .Values.global.namespace }}
  annotations:
    # 최초 배포 및 이후 배포 시 모두 실행
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "3" # Feature Store 작업 후에 실행
    # 재실행 트리거: 다음 배포(upgrade) 시 기존 성공/실패 여부와 상관없이 삭제 후 재생성
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    spec:
      restartPolicy: Never
      # MLflow 및 Feast 준비 대기용
      initContainers:
      - name: wait-for-mlflow
        image: busybox:latest
        env:
          # MLflow 트래킹 정보
          - name: MLFLOW_TRACKING_URI
            value: "http://mlflow:{{ .Values.mlflow.servicePort }}"
        command:
        - /bin/sh
        - -c
        - |
          until wget --spider -q "${MLFLOW_TRACKING_URI}/health"; do
            echo "Waiting for MLflow at ${MLFLOW_TRACKING_URI}..."
            sleep 5
          done
          echo "MLflow is ready!"

      containers:
        - name: training
          image: {{ .Values.images.training | quote }}
          env:
          - name: FEAST_REPO_PATH
            value: "/feast_repo"
          - name: LABEL_URI
            value: "s3://ml-data/raw/application_train.csv"
          - name: MLFLOW_TRACKING_URI
            value: "http://mlflow:{{ .Values.mlflow.servicePort }}"
          # 공통 MinIO 환경 변수 주입
          {{- include "common.env.minio" . | nindent 10 }}
          volumeMounts:
          - name: feast-repo-config
            mountPath: /feast_repo/feature_store.yaml
            subPath: feature_store.yaml
          - name: feast-data
            mountPath: /feast_repo/data
      volumes:
      - name: feast-repo-config
        configMap:
          name: feast-repo-config
      - name: feast-data
        persistentVolumeClaim:
          claimName: feast-registry-pvc

