apiVersion: apps/v1
kind: Deployment
metadata:
  name: triton
spec:
  replicas: 1
  selector:
    matchLabels:
      app: triton
  template:
    metadata:
      labels:
        app: triton
    spec:
      containers:
      - name: triton
        image: {{ .Values.images.triton | quote }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000 # HTTP
        - containerPort: 8001 # gRPC
        - containerPort: 8002 # Metrics
        env:
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow:{{ .Values.mlflow.servicePort }}"
        - name: AWS_ACCESS_KEY_ID
          value: {{ .Values.infrastructure.minio.rootUser | quote }}
        - name: AWS_SECRET_ACCESS_KEY
          value: {{ .Values.infrastructure.minio.rootPassword | quote }}
        - name: AWS_DEFAULT_REGION
          value: "us-east-1"
        - name: MLFLOW_S3_ENDPOINT_URL
          value: "http://minio:{{ .Values.infrastructure.minio.apiPort }}"
        # Triton이 모델 저장소를 바라볼 수 있도록 설정
        - name: AWS_ENDPOINT_URL
          value: "http://minio:{{ .Values.infrastructure.minio.apiPort }}"
---
apiVersion: v1
kind: Service
metadata:
  name: triton
spec:
  selector:
    app: triton
  ports:
  - name: http
    port: 8000
    targetPort: 8000
  - name: grpc
    port: 8001
    targetPort: 8001
  - name: metrics
    port: 8002
    targetPort: 8002