# 공통 네임스페이스 및 라벨
global:
  namespace: "production-ml-pipeline"

# 이미지 정보 
images:
  postgres: "postgres:15"
  minio: "minio/minio:RELEASE.2025-09-07T16-13-09Z"
  minioMc: "minio/mc:RELEASE.2025-08-13T08-35-41Z"
  mlflow: "jpyo0803/mlflow-custom:latest"
  featureStore: "jpyo0803/feature-store:latest"
  training: "jpyo0803/training:latest"
  triton: "jpyo0803/triton:latest"
  inference: "jpyo0803/inference:latest"
  uploader: "alpine:3.19"
  rabbitmq: "rabbitmq:3-management"
  logWorker: "jpyo0803/log-worker:latest"

# Infra 설정
infrastructure:
  storageClass: "local-path"

  postgres:
    db: "mlflow"
    user: "mlflow"
    password: "mlflow"
    port: 5432
    storageSize: "5Gi"

  minio:
    rootUser: "minioadmin"
    rootPassword: "minioadmin123"
    apiPort: 9000
    consolePort: 9001
    nodePortApi: 30900
    nodePortConsole: 30901
    storageSize: "10Gi"

  rabbitmq:
    user: "guest"
    password: "guest"
    port: 5672
    mgmtPort: 15672
    nodePortMgmt: 30672

# MLOps 컴포넌트 설정
mlflow:
  servicePort: 5000

# 추론 서비스 설정
inference:
  servicePort: 8080
  nodePort: 30080
  replicaCount: 2
  queueName: "inference_logs"
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 70

# 로그 워커 설정
logWorker:
  replicaCount: 1 # 로그 양이 많아지면 이 숫자만 늘리면 됨
  batchSize: 30
  flushInterval: 10
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

# Triton 설정
triton:
  modelName: "HomeCreditDefaultModel"
  modelAlias: "prod"
  httpPort: 8000
  metricsPort: 8002
  replicaCount: 1
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 60

# 데이터 업로드 활성화 여부
dataUpload:
  enabled: true
  # 로컬 머신에서 실제 Raw 데이터가 위치한 절대 경로
  hostPath: "/home/jinwon/workspace/production-ml-pipeline/data"
  buckets:
    - ml-data
    - mlflow
    - models
    - inference-logs
  rawPath: "raw"

# Feature Store 설정
featureStore:
  registryPort: 6566
  initProcessing: true # 초기 raw 데이터 전처리 여부
  registryStorageSize: "1Gi"
  s3Endpoint: "http://minio:9000"
  s3Region: "us-east-1"
  rawS3Prefix: "s3://ml-data/raw"
  processedS3Prefix: "s3://ml-data/processed"